/*
 * Empty Stylesheet file.
 */

#submitBtn{
    -fx-background-color: #2ECC71;
    -fx-font-size: 20px;
    -fx-text-fill: #F2F3F4;
    -fx-cursor: hand;
   
}

#cancelBtn{
    -fx-background-color: #EC7063;
    -fx-font-size: 20px;
    -fx-text-fill: #F2F3F4;
    -fx-cursor: hand;
}

#header{
    -fx-background-color: linear-gradient(to bottom right, #85929E, #5D6D7E, #5D6D7E);
}

#title{
    -fx-font-size: 40px;
    -fx-text-fill: #F2F3F4;
}

#base{
    -fx-background-color: #E6EAEA;
}
